.nav {
    display: flex;
    justify-content: space-between;
    font-family: "Protest Riot", sans-serif;
    font-size: x-large;
    padding: 10px 5%;
    align-items: center;
    border: 2px;
    border-radius: 5px; 
    color: white;
    background-color: #654321;
}

a {
    text-decoration: none;
    color: white;
}

#logoutButton {
    font-family: "Protest Riot", sans-serif;
    font-size: x-large;
    color: #654321;
    padding: 4px 18px;
    border: 2px;
    border-radius: 5px; 
    background-color: white;
}

.navLogo {
    font-size: 30px;
}

.loginLink {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: x-large;
    padding: 15px 25px;
    border: 2px;
    border-radius: 5px; 
    background-color: #654321;
}

.splashText {
    font-family: "Protest Riot", sans-serif;
    color: white;
    position: relative;
}

.cloudinaryButton {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.cloudinaryButton:hover {
  background-color: #fff;
}

.cloudinaryButton:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}


.cloudinaryWidget  h2 {
    font-family: "Protest Riot", sans-serif;
    color: white;
}


#subBtn {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.descriptionForm label {
    font-family: "Protest Riot", sans-serif;
    font-size: 22px;
    color: white;
}

.descriptionBox input {
    width: 35%;
    height: 100px;
}

.descriptionForm {
    width: 100%;
    padding-top: 20px;
}

.signUp label {
    font-family: "Protest Riot", sans-serif;
    font-size: 21px;
    padding: 5px;
    color: white;
}

.signUp h2 {
    font-family: "Protest Riot", sans-serif;
    font-size: 22px;
    color: white;
}

.signUp input {
    width: 55%;
    height: 10px;
    padding: 5px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
}

.postListContain {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0% 5%;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 440px;
    margin: 5% 0%;
}

.PostCard img {
    max-width: 400px;
    border: solid white;
    border-width: 25px 20px;
    min-height: 400px;
    max-height: 400px;
    object-fit: cover;
}

.postContent {
    background-color: white;
}

.singlePostCard {
    display: flex;
    justify-content: center;
}

.singleCard img {
    max-width: 400px;
    border: solid white;
    border-width: 25px 20px;
    min-height: 400px;
    max-height: 400px;
    object-fit: cover;
}

.singlePostContent {
    background-color: white;
}

.singleCard {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 440px;
    max-height: 600px;
    margin: 5% 0%;
}

.commentContain {
    margin: 5% 2%;
    max-width: 320px;
    min-height: 600px;
}

.commentContain h3 {
    color: white;
    font-family: "Protest Riot", sans-serif;
    font-size: 30px;
    margin: 0%
}

.commentCard {
    overflow: auto;
    max-height: 375px;
    width: 320px;
}

.commentCard img {
    margin-bottom: 1%;
    margin-left: 60%;
    width: 8%;
}

.commentContent {
    background-color: white;
    border-radius: 20px;
    min-height: 80px;
    max-height: 100px;
    min-width: 300px;
    max-width: 300px;
}

.commentContent h5 {
    text-align: left;
    font-size: 15px;
    margin: 5% 5% 0% 5%;
    padding-top: 1.5%;
}

.commentContent p {
    text-align: left;
    margin: 0% 0% 0% 10%;
}

.commentMaker {
    background-color: #ecb890;
    border-radius: 20px;
    padding: 1%;
    width: 300px;
    margin-top: 2%;
    height: 160px;
}

.commentMaker h4 {
    margin: 2% 0%;
    color: white;
}

.commentMaker p {
    font-size: 10px;
    margin: 0%;
}

.commentMaker textarea {
    border: none;
    resize: none;
    border-radius: 5px;
    padding: 5% 5%;
    width: 70%;
}

.tail {
    width: 8%;
    margin-left: 80%;
    transform: translateY(-13px) translateX(18px);
}

.commentMaker button {
    border: none;
    background-color: white;
    border-radius: 10px;
    margin-top: 3%;
    padding: 1% 2%;
}