.logUpContain {
    display: flex;
    flex-direction: column;
    margin: 5%;
    height: 100%;
}

.logForm {
    display: flex;
    justify-content: center;
}

.signUp {
    display: flex;
    flex-direction: column;
    margin: 2% 0%;
}

.signUp h2 {
    font-size: 30px;
}

.field {
    text-align: right;
    margin: 2% 0%;
}

.field input {
    border: solid white 1px;
    padding: 3% 3%;
    border-radius: 20px;
}

#subBtn {
    margin: 10% 0%;
}

.homepageContain {
    max-width: 100%;
}

.splashContain {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: 10% 0%;
}

.splashText {
    width: 50%;
    text-align: center;
    margin: 0% -5% 0% 0%;
}

.splashText h1 {
    font-size: 50px;
    margin: 12% 0% 2% 0%;
}

.splashText h2 {
    margin: 0% 0% 10% 0%;
}

.splashImage {
    display: flex;
    width: 50%;
    position: relative;
}

#splashPic1 {
    width: 65%;
    position: absolute;
    top: -30%;
    right: 30%;
}

#splashPic2 {
    width: 65%;
    position: absolute;
    right: 8%;
    transform: rotate(0.05turn);
    top: 50%;
}
